<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Suggestions</title>
</head>

<body>
	<div>
		<a th:href="@{/}">Home</a> <a th:href="@{/suggestions/new}">New suggestion</a>
	</div>
	<p>Logged as generic user</p>
	<!-- IF NO SUGGESTIONS -->
	<div th:if="${suggestions.empty}">
		<div>No suggestions</div>
	</div>
	<!-- ELSE -->
	<div th:unless="${suggestions.empty}">
		<table id="suggestions_table">
			<caption>Suggestions</caption>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Suggestion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="suggestion : ${suggestions}">
					<td th:text="${suggestion.id}"></td>
					<td th:text="${suggestion.suggestionText}"></td>
					<td><a th:href="@{'/suggestions/' + ${suggestion.id} + '/comments'}">Comments</a></td>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>

</html>